.informacion {
    height: auto;
    width: auto;
    padding: 50px;
    margin: 40px 80px 20px 80px;
    background: #34495e;
    border-radius: 10px;
    color: #dd5;text-align: center;
}

.informacion li {
    list-style-type: none;
    padding: 10px;
    color: #dd5;
    font-size: 20px;
}

.informacion b {
    font-size: 25px;
    color: white;
}